@font-face {
  font-family: outfit;
  src: url(../fonts/Outfit-Regular.ttf);
}

@font-face {
  font-family: outfit-bold;
  src: url(../fonts/Outfit-SemiBold.ttf);
}

@font-face {
  font-family: outfit-thin;
  src: url(../fonts/Outfit-Light.ttf);
}

@font-face {
  font-family: andasia;
  src: url(../fonts/Andasia.ttf);
}

@font-face {
  font-family: rocky;
  src: url(../fonts/Rockybilly.ttf);
}

.scrollContainer {
  height: 100dvh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scroll-padding: 0;
}

.scrollSection {
  scroll-snap-align: center;
  min-height: 100%;
  overflow: hidden;
}

.imageContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.textContainer {
  padding: 7rem 1rem;
  z-index: 99;
  font-family: outfit;
  inset: 0;
  position: absolute;
}

.textOne,
.textTwo,
.textThree {
  z-index: 99;
  font-size: 70px;
  font-weight: bold;
  display: flex;
  color: whitesmoke;
}

.textThree {
  justify-content: end;
  font-family: rocky;
  font-size: 40px;
  color: whitesmoke;
}

.listContainer {
  position: fixed;
  width: 100%;
  bottom: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 1rem;
  z-index: 99;
}

.list {
  font-family: outfit;
  padding: 10px;
  font-size: 18px;
  color: #cccccc;
  border: none;
  cursor: pointer;
  background: none;
  transition: color 0.3s;
}

.list.active {
  color: black;
}

.aboutSection,
.contactSection,
.portfolioSection {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.aboutSection {
  background-color: whitesmoke;
  justify-content: start;
}

.contactSection {
  align-items: center;
  background-color: whitesmoke;
  justify-content: center;
  gap: 20px;
}

.portfolioSection {
  background-color: whitesmoke;
  overflow: hidden;
  justify-content: space-between;
}

.image {
  object-fit: cover;
  height: 100%;
}

.aboutImage {
  display: flex;
  align-items: flex-end;
  padding-bottom: 4rem;
  background-image: linear-gradient(to bottom, transparent 30%, #f5f5f5 80%),
    url(./assets/tilde.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.aboutText {
  background-color: transparent;
  font-family: outfit;
  > p {
    font-family: outfit-thin;
    margin: 0;
  }
  padding: 2rem;
}

.portfolioImage {
  height: 33%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.contactText {
  padding: 2rem;
  height: 100%;
  background-image: url(./assets/waves.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-align: center;
  font-family: outfit;
  > p {
    font-family: outfit-thin;
    margin: 0;
  }
}

.instagramButton {
  width: 100%;
  background: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border: none;
  &:focus {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  &:active {
    > svg > path {
      fill: grey;
    }
  }
}

.emailButton {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  width: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &:focus {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}

.emailButton svg,
.emailButton .linkCopiedText {
  position: absolute;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  opacity: 0;
  visibility: hidden;
}

.emailButton svg {
  opacity: 1;
  visibility: visible;
}

.emailButton.copied svg {
  opacity: 0;
  visibility: hidden;
}

.emailButton.copied .linkCopiedText {
  opacity: 1;
  visibility: visible;
}

.linkCopiedText {
  font-family: outfit-thin;
  font-size: 1rem;
  opacity: 0;
  visibility: hidden;
}
